.pagination

    ul.pagination__list.list
        li.pagination__item.pagination__item_prev
            a.pagination__link.link(href="javascript:;")

        li.pagination__item.pagination__item.active
            a.pagination__link.link(href="javascript:;") 1

        li.pagination__item
            a.pagination__link.link(href="javascript:;") 2

        li.pagination__item
            a.pagination__link.link(href="javascript:;") 3

        li.pagination__item.pagination__item_next
            a.pagination__link.link(href="javascript:;")