<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="fonts/font-icons/css/font-icons.css")
    link(rel="stylesheet" href="libs/owl-carousel-js/owl.carousel.css")
    link(rel="stylesheet" href="css/index.css")
    title 404
body
    .wrapper-table
        //- .wrapper-cell
        h1.heading 404 Ошибка
        .content
            .content__image
                img(src="img/404/bg.png", alt="")
            .content__text
                p.content__par Страница которую Вы искали не найдена
                a.content__button(href="index.html") На главную
