.dialog#dialog-callback(:class="show")
    .dialog__overlay(@click="closeDialog")

    .dialog__container
        button.dialog__close(@click="closeDialog")

        .dialog__content(v-if="!ok")
            .dialog__title Оставьте свой номер телефона и представитель компании свяжется с Вами в ближайшее время

            .dialog__group
                input.field.dialog__field(type="text" placeholder="Ваше имя" v-model="formFields.name")
                span.error-msg {{errorFields.name}}

            .dialog__group
                input.field.dialog__field(type="email" placeholder="Ваш email" v-model="formFields.email" pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/")
                span.error-msg {{errorFields.email}}

            .dialog__group
                input.field.dialog__field(type="tel" v-mask="'(###) ###-##-##'" placeholder="Ваш телефон" v-model="formFields.phone")
                span.error-msg {{errorFields.phone}}

            button.btn.btn_accent.dialog__btn(type="button" @click="postRequest") Перезвонить

        .dialog__content(v-else)
            .dialog__title Ваш запрос успешно принят
