extends ../index

block variables
    - var title = 'Отзывы'

mixin reviewsItem()
    .reviews__item
        .reviews__left
            span.reviews__avatar
                img(src=require("../../assets/image/icons/user.svg"), alt="")

            .reviews__wrap
                span.reviews__name Иван Петрович
                span.reviews__date Chernigiv
                span.reviews__date 31.05.2017
                ul.reviews__rating
                    -for(var i = 0; i < 5; i++)
                        li.reviews__rating-item.active
                            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" viewBox="0 0 55.867 55.867" xml:space="preserve")
                                path(d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558 s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024 l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017 l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z")
                //- a.reviews__link(href="https://www.facebook.com/") fb.com/id 1234567
        .reviews__right
            p.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eveniet quae rem dicta, minima doloribus repellendus nobis cum consequatur eos! Nostrum voluptatibus aliquid alias aspernatur quis dicta, harum sed. Nobis quasi commodi repudiandae ab, at nisi tenetur ipsum sed autem. Sed ex est rem iusto voluptatem eaque vitae minus quidem.
            //- span.reviews-list__title Фото полученного товара:
            //- ul.reviews-list__img-list
            //-     - for(var l = 0; l < 6; l++)
            //-         li.reviews-list__img-item
            //-             img.reviews-list__img(src="http://via.placeholder.com/120x90", alt="")
            //-             span.reviews-list__img-wrap
            //-                 img.reviews-list__img_large(src="http://via.placeholder.com/600x450", alt="")

block content
    
    main.reviews#reviews
        .reviews__container.container.content__container
            include ../../components/breadcrumbs/breadcrumbs

            h1.reviews__heading.heading Отзывы

            section.reviews__content

                .reviews__add-wrap

                    a.reviews__add.btn.btn_accent.link(@click="visabilityForm")
                        svg.reviews__add-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25" viewBox="0 0 28 32" xml:space="preserve")
                            path(d="M6,28H0v-6L6,28z M28,6L8,26l-6-6L22,0L28,6z")
                            path(d="M0,32v-2h22v2H0z")

                        | Добавить отзыв

                    .reviews__form(v-if="visibleForm")
                        label.reviews__avatar
                            img(src=require("../../assets/image/icons/user.svg"), alt="")
                            input(type="file")
                        
                        .reviews__group.reviews__group_rating
                            | Оценка компании
                            ul.reviews__rating-list
                                li.reviews__rating-item(
                                    v-for="(item, index) in ratingLength"
                                    :key="index" @click="rating(index)"
                                    @mouseover="hover(index, $event)"
                                    @mouseout="hover(index, $event)"
                                    :class="{ active: dataForm.rating[index], hover: hoverRating[index] }")
                                    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" viewBox="0 0 55.867 55.867" xml:space="preserve")
                                        path(d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558 s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024 l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017 l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z")
                        .reviews__group
                            input.reviews__field.field(type="text" placeholder="Ваше имя" v-model="dataForm.name")

                        .reviews__group
                            input.reviews__field.field(type="text" placeholder="Ваш город" v-model="dataForm.city")

                        .reviews__group
                            input.reviews__field.field(type="text" placeholder="Дата отзыва" disabled v-model="dataForm.date")

                        .reviews__group
                            textarea.reviews__area.textarea(placeholder="Текст отзыва" v-model="dataForm.msg")

                        a.reviews__submit.btn.btn_accent.link(href="javascript:;") Добавить отзыв

                .reviews__list
                    - for(var i = 0; i < 4; i++ )
                        +reviewsItem()

                include ../../components/pagination/pagination