// ###Default properties###
// $baseff: 'Open Sans', sans-serif!default;
// $baseff: 'Ubuntu', sans-serif!default;
$baseff: 'Play', sans-serif!default;
$basefz: 16px!default;
$radius: 5px;

// ### COLORS ###
    $white-color: #ffffff;
    $black-color: black;
    $dark-color: #292929;
    $yellow-color: #FFFF00;
    $grey-dark-color: #676767;
    $grey-light-color: #CCCCCC;
    $green-color: #3DF59F;
    $red-color: #FF5722;

// ###BREAKPOINTS###
    $xl: 1366px;
    $bsxl: 1200px; //bootstrap xl
    $lg: 992px;
    $md: 798px;
    $sm: 576px;
    $xs: 360px;

$breakpoints: (
    xl: $xl,
    bsxl: $bsxl,
    lg: $lg,
    md: $md,
    sm: $sm,
    xs: $xs
);

$ui-color: (
    success: $green-color,
    error: $red-color
);

$social-color: (
    facebook: #3b5998,
    google-plus: #d34836,
    twitter: #1dcaff,
    vk: #45668e
);

$text-color: (
    light: $white-color,
    medium: $grey-dark-color,
    dark: $dark-color,
    hover: $yellow-color,
    access: $green-color,
    error: $red-color
);

$bg-color: (
    white: $white-color,
    main: $dark-color,
    main-dark: darken($dark-color, 4%),
    main-light: lighten($dark-color, 4%),
    accent: $yellow-color,
    accent-light: lighten($yellow-color, 4%),
    green: $green-color,
    red:$red-color,
    grey-dark: $grey-dark-color,
    grey-dark-light: lighten($grey-dark-color, 4%),
    grey-light: $grey-light-color
    // accent-light: adjust-color($yellow-color, ),
    // accent-dark: 
);




