.submenu
    display: none
    width: calc(100% - 360px)
    bottom: 0
    background-color: rgba(bg-color(main), .7)

    &.active
        display: block
        position: fixed
        left: 360px
        z-index: 100

    &__list
        display: flex
        flex-wrap: wrap
        max-width: 1440px
        margin: 0 auto

    &__link
        display: flex
        flex-direction: column
        align-items: center
        background-color: bg-color(white)
        border-radius: $radius
        border: 1px solid transparent
        color: text-color(dark)
        +transition()

        &:hover
            border-color: bg-color(accent)

        .mark
            font-weight: 700

    &__img
        margin-bottom: 15px

+media-breakpoint-up(breakpoints(xl))
    .submenu

        &__list
            padding: 90px 15px 0

        &__item
            width: calc(100% / 4 - 30px)
            margin: 0 15px 30px

        &__link
            padding: 15px

+media-breakpoint-up(breakpoints(bsxl))
    .submenu
        top: 0

+media-breakpoint-down(breakpoints(xl))
    .submenu
        
        &__list
            padding: 65px 15px 0

        &__item
            width: calc(100% / 4 - 15px)
            margin: 0 7.5px 15px

        &__link
            padding: 10px

        &__img
            height: 50px

            img
                height: 100%

+media-breakpoint-down(breakpoints(bsxl))
    .submenu
        display: none!important

+media-breakpoint-down(breakpoints(lg))
    .submenu
        // height: calc(100% - 60px)