.submenu
    ul.submenu__list.list
        - for(var i = 0; i < 15; i++)
            li.submenu__item
                a.submenu__link.link(href="javascript:;")
                    span.submenu__img
                        img(src=require("../../assets/image/category/engines.png"), alt="")

                    span Двигатель и детали двигателя &nbsp;
                        span.mark (25)