.search
    background-color: bg-color(main-light)
    border-radius: $radius
    padding: 15px
    margin-bottom: 30px
    display: flex

    &__heading
        font-size: rem(20px)
        line-height: rem(22px)
        margin-bottom: 30px
        color: text-color(light)

    &__list, &__field
        width: 100%

    &__list
        display: flex

    &__field_text
        width: 100%

    &__item
        margin-right: 15px
        height: 45px
        position: relative
        color: text-color(dark)
        +transition()
        fill: bg-color(main-light)

        &:last-child
            margin-right: 0

        &_drop
            width: 250px

        &.active
            height: auto

        &_flex
            flex-grow: 1
            min-width: 200px
            flex-shrink: 0

    &__title
        +alignment($jc: between)
        cursor: pointer
        height: 45px
        user-select: none

        svg
            transform: rotate(90deg)

    &__drop

        &-list
            position: absolute
            top: calc(100% - 2px)
            left: -1px
            width: calc(100% + 2px)
            padding: 0 15px
            background-color: bg-color(white)
            border-radius: 0 0 $radius $radius
            border: 1px solid bg-color(accent)
            border-top: 0
            z-index: 10

        &-item
            display: flex
            margin-bottom: 15px

    &__select
        width: 100%

    &__btn
        width: 100px
        text-align: center
        justify-content: center
        align-items: center

+media-breakpoint-up(breakpoints(sm))
    .search
        flex-wrap: wrap

        &__list
            flex-wrap: wrap

        &__item

            &_drop
                margin-bottom: 15px
                flex-shrink: 0

+media-breakpoint-between(breakpoints(sm), breakpoints(lg))
    .search

        &__item

            &:nth-child(2)
                margin-right: 0

            &_drop
                width: calc(50% - 7.5px)

+media-breakpoint-down(breakpoints(sm))
    .search

        &__list
            flex-direction: column

        &__item
            margin-bottom: 15px
            width: 100%

            &:last-child
                margin-bottom: 0

        &__btn
            width: 100%

