.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a.breadcrumbs__link.link(href="javascript:;") Статьи

        li.breadcrumbs__item
            a.breadcrumbs__link.link(href="javascript:;") Разборка Мерседес Спринтер

        li.breadcrumbs__item.breadcrumbs__item_active
            a.breadcrumbs__link.link(href="javascript:;") Разборка Мерседес Спринтер
