.breadcrumbs
    margin-bottom: 30px
    display: flex
    align-items: center

    &__list
        display: flex
        flex-wrap: wrap
        align-items: center
        padding: 15px 30px 10px
        width: 100%
        min-height: 100px
        background-color: bg-color(main-light)
        border-radius: $radius

    &__item
        display: inline-flex
        align-items: center
        margin-bottom: 5px

        &:after
            content: ''
            display: flex
            +size(15px, 1px)
            background-color: bg-color(main)
            // +transition()


        &:last-child:after
            content: none
            // +size(0)

        &_active, &:hover

            // &:after
            //     background-color: bg-color(accent)

            .breadcrumbs__link
                color: text-color(hover)
                border-color: bg-color(accent)

    &__link
        color: text-color(light)
        font-size: rem(14px)
        height: 35px
        border-radius: $radius
        border: 1px solid bg-color(main)
        padding: 0 15px
        +alignment()
        +transition()

